*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
  color: #2f281e;
  max-width: 1170px;
}

a {
  text-decoration: none;
  color: #2f281e;
}
a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}
:root {
}

.logo {
  margin: 22px 30px 24px 143px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header__links {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 28px;
  margin: 24px 29px 26px auto;
  width: 350px;
  height: 28px;
}

.header__links a {
  display: block;
}

.header__signup-container{
    display: flex;
}

.header__sign-in {
  width: 102px;
  height: 46px;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  font-weight: 500;
  padding: 11px 22px 11px 25px;
  margin: 15px 14px 17px auto;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

.header__sign-up {
  background: #ff9900;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 102px;
  height: 46px;
  margin: 15px 125px 17px 0;
  padding: 11px 23px 11px 25px;
}
